<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39646121884-ue0me2v44ac2lb0rds7cr2023b1so6p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39646121884-ue0me2v44ac2lb0rds7cr2023b1so6p8</string>
	<key>API_KEY</key>
	<string>AIzaSyDdPJiTpHINmUtwUNim4vBNpj-qVogJ3yg</string>
	<key>GCM_SENDER_ID</key>
	<string>39646121884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bbvLearningFlutter</string>
	<key>PROJECT_ID</key>
	<string>bbv-learning-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>bbv-learning-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39646121884:ios:7aab305da33d8d8aa50259</string>
</dict>
</plist>